<md-dialog aria-label="AlertDialog" ng-controller="AlertDialogController as vm" style="width: 500px;">
    <div ng-cloak>
        <md-dialog-content >
            <div class="md-dialog-content">
                <h2>Action was successful</h2>

                Please allow some time for the changes to take effect.
            </div>
        </md-dialog-content>

        <div layout="row" layout-align="end center">
            <span flex></span>
            <md-button ng-click="ok()">Ok</md-button>
        </div>
    </div>
</md-dialog>
