<md-dialog aria-label="User" ng-controller="UserCreateController" style="width: 500px;" class="yo-dialog">
    <ng-form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>User</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon  style="top: 0px;" icon="close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <ng-form name="userForm" novalidate>
                    <md-input-container class="md-block yo-input" >
                        <label>First name</label>
                        <input required  name="userFirstName" ng-model="model.firstName">
                        <div ng-messages="userForm.userFirstName.$error" >
                            <div ng-message="required">First name is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block yo-input">
                        <label>Last name</label>
                        <input required  name="userLastName" ng-model="model.lastName">
                        <div ng-messages="userForm.userLastName.$error">
                            <div ng-message="required">Last name is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block yo-input">
                        <label>Email</label>
                        <input required type="email" name="userEmail" ng-model="model.email">
                        <div ng-messages="userForm.userEmail.$error">
                            <div ng-message="required">Email is required.</div>
                            <div ng-message="email">Your email address is invalid</div>
                        </div>
                    </md-input-container>

                    <div layout="row" layout-align="end center">
                        <span flex></span>
                        <md-button ng-disabled="!userForm.$valid" ng-click="save()">Save</md-button>
                    </div>

                </ng-form>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
